<div class="container" style="margin-top: 30px;">
  <div class="card">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="card-body">
          <h2>Editar Receta</h2>
          <form [formGroup]="recetaForm">
            <div>
              <div>
                <label for="nombre">Nombre: </label>
                <div>
                  <input
                    class="col-sm-10"
                    id="nombre"
                    type="text"
                    formControlName="nombre"
                  />
                </div>
              </div>
              <div
                *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                class="alert alert-danger"
              >
                <div *ngIf="nombre.errors.required">
                  El nombre es obligatorio.
                </div>
                <div *ngIf="nombre.errors.minLength">
                  El nombre debe tener al menos 3 caracteres.
                </div>
              </div>
            </div>
            <div>
              <label for="comensales">Número de comensales: </label>
              <div>
                <input
                  class="col-sm-4"
                  id="comensales"
                  type="number"
                  formControlName="comensales"
                  min="1"
                  max="100"
                />
              </div>
              <div
                *ngIf="
                  comensales.invalid && (comensales.dirty || comensales.touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="comensales.errors.required">
                  El número de comensales es obligatorio.
                </div>
                <div *ngIf="comensales.errors.forbiddenValue">
                  El número de comensales no puede ser 0.
                </div>
              </div>
            </div>
            <div>
              <label for="ingredientes">Ingredientes: </label>
              <div formArrayName="ingredientes">
                <div *ngFor="let ing of ingredientes.controls; let i = index">
                  <div [formGroupName]="i">
                    <input
                      class="col-sm-4"
                      type="text"
                      formControlName="ingrediente"
                      placeholder="Ingrediente"
                    />
                    <input
                      class="col-sm-2"
                      type="number"
                      formControlName="cantidad"
                      placeholder="Cantidad"
                    />
                    <input
                      class="col-sm-3"
                      type="text"
                      formControlName="unidad"
                    />
                    <button
                      class="btn mce-btn-small col-sm-1"
                      (click)="removeIngrediente(i)"
                    >
                      <span class="material-icons">
                        clear
                      </span>
                    </button>
                  </div>
                  <div class="row">
                    <div
                      *ngIf="
                        ing.get('ingrediente').invalid &&
                        (ing.get('ingrediente').dirty ||
                          ing.get('ingrediente').touched)
                      "
                      class="alert alert-danger"
                    >
                      <div *ngIf="ing.get('ingrediente').errors.required">
                        El nombre del ingrediente es obligatorio.
                      </div>
                      <div *ngIf="ing.get('ingrediente').errors.minlength">
                        El nombre del ingrediente debe tener al menos 3
                        caracteres.
                      </div>
                    </div>
                    <div
                      *ngIf="
                        ing.get('cantidad').value === '' &&
                        (ing.get('unidad').dirty || ing.get('unidad').touched)
                      "
                      class="alert alert-danger"
                    >
                      <div *ngIf="ing.get('cantidad').errors.required">
                        Introduzca la cantidad del ingrediente.
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="!ingredientes || ingredientes.length < 1"
                  class="alert alert-danger"
                >
                  <div>
                    Los ingredientes son obligatorios. Debe añadir al menos uno.
                  </div>
                </div>
                <button class="btn btn-primary" (click)="addIngrediente()">
                  Añadir ingrediente
                </button>
              </div>
            </div>
            <div>
              <label for="pasos">Pasos: </label>
              <div formArrayName="pasos">
                <div *ngFor="let p of pasos.controls; let i = index">
                  <div [formGroupName]="i">
                    <input
                      class="col-sm-10"
                      type="text"
                      formControlName="paso"
                      placeholder="Escriba las instrucciones"
                    />
                    <button class="btn mce-btn-small" (click)="removePaso(i)">
                      <span class="material-icons">
                        clear
                      </span>
                    </button>
                  </div>
                </div>
                <div
                  *ngIf="!pasos || pasos.length < 1"
                  class="alert alert-danger"
                >
                  <div>
                    Los pasos son obligatorios. Debe añadir al menos uno.
                  </div>
                </div>
                <button class="btn btn-primary" (click)="addPaso()">
                  Añadir paso
                </button>
              </div>
            </div>
            <div>
              <div *ngIf="alergenos">
                <div formArrayName="alergenos">
                  <label for="alergenosData">Lista de alérgenos: </label>
                  <div
                    *ngFor="let alergeno of alergenos.controls; let i = index"
                  >
                    <div [formGroupName]="i">
                      <input type="text" formControlName="alergeno" />
                      <button
                        class="btn mce-btn-small"
                        (click)="removeAlergeno(i)"
                      >
                        <span class="material-icons">
                          clear
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <label for="alergenosSelect">Selecciona los alérgenos: </label>
              <select
                id="alergenosSelect"
                name="alergenos"
                class="select-option"
                (change)="onAlergenosSelected($event)"
              >
                <option *ngFor="let tipoAlergeno of alergenosData">
                  {{ tipoAlergeno }}
                </option>
              </select>
            </div>
            <div>
              <label for="imagen">Foto: </label>
              <div>
                <input
                  id="imagen"
                  type="file"
                  accept="image/png, image/jpeg"
                  formControlName="imagen"
                />
              </div>
            </div>
          </form>
          <div>
            <button
              class="btn btn-primary"
              style="margin-top: 20px;"
              (click)="onSubmit()"
            >
              Guardar receta
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button
      class="btn btn-secondary"
      style="margin-top: 20px;"
      [routerLink]="['/recetas']"
    >
      Volver
    </button>
  </div>
</div>
